
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: sans-serif;
    
}


body{
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

header{
    padding: 40px 4%;
    background-color: rgb(26, 26, 26);
}

header > .interface{
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    justify-content: center;
}

header a{
    color: rgb(255, 255, 255);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0px 120px;
    font-size: large;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    border: 1px solid  rgb(255, 72, 0);
    border-radius: 30px;
}

.btn-contato{
    padding: 0px 100px;
}

body {
    background-color:rgb(0, 0, 0);
}

.contato {
    text-align: center;
    font-size: 22px;
    color: rgb(255, 255, 255);
}

.bunito {
    border: 1px solid rgb(255, 72, 0);
    width: 49em;
    height: 20em;
    text-align: center;
    margin-left: 21%;
    margin-top: 60px;
}

h1 {
    margin-top: 2.5em;
}

button{
    color: rgb(255, 255, 255);
}